[submodule "submodules/osu-ppcalc"]
	path = submodules/osu-ppcalc
	url = https://github.com/ilsubyeega/osu-ppcalc
[submodule "submodules/osu"]
	path = submodules/osu
	url = https://github.com/ilsubyeega/osu
